{% extends 'base.html' %}
{% block title %}
GT STocks - Home
{% endblock %}

{% block content %}   
    <div class="container">
        {% if portfolio_list %}
            <h2>Portfolios</h2>
            <table class="table table-hover">
                <tbody>
                    {% for portfolio in portfolio_list %}
                        <tr>
                            <td>
                                <a href="portfolio/{{ portfolio.id }}">{{ portfolio }}</a>
                            </td>
                            <td>
                                <a href="portfolio/{{ portfolio.id }}/edit">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No portfolios have been created.</p>
        {% endif %}
        <a href="new">Add new</a>
    </div>
{% endblock %}