{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header_extras %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css"> -->
{% endblock %}

{% block content %}
    <div class="container">
        <form class="portfolio-form" action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="id_name">Portfolio Name</label>
                {{ form.name.errors }}
                {% render_field form.name class="form-control" placeholder="Enter Portfolio Name" %}
            </div>
            <div class="strike">
                <span>Add Stocks</span>
            </div>
            <div class="stockpicks-table">
                {{stockpicks.management_form}}

                {% for stockpick_form in stockpicks.forms %}
                    <div class="stockpick-row card">
                        {% for stockpick_hidden in stockpick_form.hidden_fields %}
                            {{ stockpick_hidden }}
                        {% endfor %}

                        <div class="form-group">
                            {{ stockpick_form.stock.errors }}
                            {% render_field stockpick_form.stock class="form-control stockpick-select" %}
                        </div>
                        <div class="form-row">
                            <div class="col">
                                {{ stockpick_form.value_per_share.errors }}
                                {% render_field stockpick_form.value_per_share class="form-control" placeholder="Price" %}
                            </div>
                            <div class="col">
                                {{ stockpick_form.quantity.errors }}
                                {% render_field stockpick_form.quantity class="form-control" placeholder="Quantity" %}
                            </div>
                            <div class="col delete-button-placeholder">
                                {{ stockpick_form.DELETE.errors }}
                                {{ stockpick_form.DELETE }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="footer-buttons row text-center">
                    <div class="col">

                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-success" value="Save"/> 
                    </div>
                    <div class="col">
                        <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block end_scripts %}
    <script src="{% static 'custom/js/jquery.formset.gt-stocks.js' %}"></script>
    <script src="{% static 'custom/js/misc.js' %}"></script>
{% endblock %}